.links {
  position: fixed;
  left: 60%; /* Adjust this value as needed */
  bottom: 0;
  top: 55px;
  width: 200px; /* Adjust width to accommodate both image and text */
  z-index: 80;
  padding-top: 180px; /* Adjust padding as needed */
}

.sidebar-link {
  display: flex;
  justify-content: flex-start; /* Align items to the start (left) of the container */
  align-items: center;
  height: 175px;
  cursor: pointer;
}

.sidebar-link:hover {
  opacity: 0.5;
  transition: opacity 0.3s; /* Fixed the transition property */
}

.links img {
  height: 125px; /* Adjust height as needed */
  margin-right: 10px; /* Add spacing between image and text */
  transition: background-color 0.15s, color 0.15s;
}

.sidebar-link div {
  font-family: Honk, Arial;
  font-size: 45px;
}

.github,
.discord,
.instagram {
  border-radius: 75px;
}